<section class="contenedor contenedor-flex">
    <h2><a [routerLink]="['/home']">Twitter</a></h2>
    <nav>
        <ul class="lista-flex">
            <li><a [routerLink]="['/home']" routerLinkActive="activo">Home</a></li>
            <li><a [routerLink]="['/login']" routerLinkActive="activo">Login</a></li>
            <li><a [routerLink]="['/registro']" routerLinkActive="activo">Registrarse</a></li>
            <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
    </nav>
</section>