a{
    cursor:pointer;
    text-decoration: none;
    color:white !important;
}
img{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.contenedor-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-flex{
    display: flex;
    gap:1rem;
    list-style-type: none;
}

.activo{
    color:yellowgreen !important;
}
h2{
    padding: 0 1rem;
    font-size: 2rem;
}
ul{
    padding: 0 1rem;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-item:hover{
    background-color: rgb(228, 220, 220);
    color:black !important;
}
.dropdown-divider{
    border-color: white;
}
.lista-flex{
    align-items: center;
}
@media screen and (max-width: 400px) {
    .contenedor-flex{
        display:block;
    }
    .lista-flex{
        display:block;
    }
    h2,li{
        margin:1rem 0;
    }
}