header{
    background-color: black;
    color:white;
    padding: 2rem 0;
}
main{
    padding: 1rem;
}
footer{
    background-color: black;
    color:white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}