header{
    background-color: black;
    color:white;
    padding: 2rem 0;
}
main{
    padding: 1rem;
}
footer{
    background-color: black;
    color:white;
    height: 4rem;
    text-align: center;
    padding-top: 1rem;
}