h2{
    font-size: 1rem;
}
.text-danger{
    color:red;
}
.text-success{
    background-color: green;
    color:white !important;
}
.card-header{
    display: flex;
    align-items: center;
}
.img-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.data-user{
    margin-left: 1rem;
}
.nickname{
    color:gray;
}
.descripcion{
    padding: 0.5rem 0 0 0;
    
}
.descripcion p{
    margin:0 0 0.5rem 0;
}
.descripcion span{
    color:gray;
}
.comentarios h2{
    font-size: 1.5rem;
}
.card{
    margin:1rem 0;
}
.likes{
    display: flex;
}
.likes img{
    width: 20px;
    cursor: pointer;
}
.likes span{
    
    color: gray;
    font-size: 11px;
}
.pie img{
    margin-right:1rem;
}
.pub-image{
    padding: 1rem;
}