<section>
    <div [class.text-danger]="tipo===false" [class.text-success]="tipo===true">{{mensaje}}</div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>Gente</h1>
                @if(datos.length===0){
                <p>No hay datos que mostrar</p>
                }@else{
                @for(usuario of datos;track usuario.id){
                <div class="profile-user flex">
                    @if(usuario.image){
                    <div class="container-avatar">
                        <img [src]="urlImgs+usuario.image" alt="imagen" class="avatar">
                    </div>
                    }@else{
                    <div class="container-avatar">
                        <img [src]="urlImgs+'usuario.jpg'" alt="imagen" class="avatar">
                    </div>
                    }
                    <div class="user-info">
                        <h2>@{{usuario.nick}}</h2>
                        <h3>{{usuario.name}} {{usuario.surname}} </h3>
                        <p>Se unió: {{usuario.created_at | date: 'dd/MM/yyyy'}}</p>
                        <a [routerLink]="['/mi-perfil/',usuario.id]" class="btn btn-success">Ver perfil</a>
                    </div>
                </div>
                }
                }
            </div>
        </div>
        <!-- Añadir paginación -->
        <div class="paginacion">
            <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
                ⬅ Anterior
            </button>

            <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

            <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
                Siguiente ➡
            </button>
        </div>
    </div>
</section>