<section>
    <div [class.text-danger]="tipo===false" [class.text-success]="tipo===true">{{mensaje}}</div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!--@for(){-->
                <div class="card pub-image">
                    <div class="card-header">
                        <div class="container-avatar">
                            <img class="img-avatar" [src]="urlImgs+img" alt="imagen avatar">
                        </div>
                        <div class="data-user">
                            nombre + apellido del usuario
                            <span class="nickname">
                                | @ nickname
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="image-container">
                            <img [src]="urlImagenes+imagen" alt="imagen">
                        </div>
                        <div class="likes">

                        </div>
                        <div class="descripcion">
                            <span class="nick">@nickname</span>
                            <p>Descripción de la foto</p>
                            
                        </div>
                    </div>
                </div>
                <!--}-->
            </div>
        </div>
    </div>
</section>