<section>
    <div [class.text-danger]="tipo===false" [class.text-success]="tipo===true">{{mensaje}}</div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                @for(elem of datosPaginados;track elem.id){
                <div class="card pub-image">
                    <div class="card-header">
                        <div class="container-avatar">
                            <img class="img-avatar" [src]="urlImgs+elem.image" alt="imagen avatar">
                        </div>
                        <div class="data-user">
                            {{elem.name}} {{elem.surname}}
                            <span class="nickname">
                                | @ {{elem.nick}}
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="image-container">
                            <img [src]="urlImagenes+elem.image_path" alt="imagen">
                        </div>

                        <div class="descripcion">
                            <span class="nick">@{{elem.nick}}</span>
                            <p>{{elem.description}}</p>
                        </div>
                        <div class="pie">
                            <div class="likes">
                                <img src="hearts-gray.png" alt="heart gray">
                            </div>
                            <div class="comentarios">
                                <a href="" class="btn btn-sm btn-warning btn-comentarios">
                                    Comentarios({{encontrarCantidad(elem.id)}})
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <!-- Añadir paginación -->
        <div class="paginacion">
            <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
                ⬅ Anterior
            </button>

            <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

            <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
                Siguiente ➡
            </button>
        </div>
    </div>
</section>