<section>
    <div [class.text-danger]="tipo===false" [class.text-success]="tipo===true">{{mensaje}}</div>
    <form [formGroup]="miForm" (ngSubmit)="cargarDatos()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            @if(email?.touched && email?.hasError('required')){
            <div class="text-danger">El campo es requerido</div>
            }@else if(email?.touched && email?.hasError('pattern')){
            <div class="text-danger">El email no es válido</div>
            }
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
            @if(password?.touched && password?.hasError('required')){
            <div class="text-danger">El campo es requerido</div>
            }@else if(password?.touched && password?.hasError('minlength')){
            <div class="text-danger">El campo debe tener al menos 8 carácteres</div>
            }
        </div>
        <!--
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</section>