<section>
    <div class="card">
        <div class="card-header">Subir nueva imagen</div>
        <div class="card-body">
            <div [class.text-danger]="tipo===false" [class.text-success]="tipo===true">{{mensaje}}</div>
            <form [formGroup]="miForm" (ngSubmit)="cargarDatos()">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right" for="imagen">Imagen</label>
                    <div class="col-md-7">
                        <input 
                            accept="image/png, image/jpeg, image/jpg, image/gif"
                            type="file" 
                            id="imagen" 
                            class="form-control"  
                            formControlName="imagen"  
                            (change)="onFileSelected($event)">
                        @if(imagen?.touched && imagen?.hasError('required')){
                        <div class="text-danger">El campo es requerido</div>
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-md-right" for="descripcion">Descripcion</label>
                    <div class="col-md-7">
                        <textarea formControlName="descripcion" id="descripcion" class="form-control" ></textarea>
                        @if(descripcion?.touched && descripcion?.hasError('required')){
                        <div class="text-danger">El campo es requerido</div>
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6 offset-md-3">
                        <input type="submit" class="btn btn-primary" value="Subir imagen">
                        
                    </div>
                </div>

            </form>
        </div>
    </div>

</section>